<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contactEmailRot13</key>
	<string></string>
	<key>contactName</key>
	<string>Jonte Craighead</string>
	<key>description</key>
	<string>New shiny bundle for X.</string>
	<key>name</key>
	<string>CSDL- TextMate</string>
	<key>uuid</key>
	<string>02C1B5F5-A1A2-4CBE-ACF6-AD09D5F7E57F</string>
</dict>
</plist>
